/***************************************************** base ********************************************************/

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.6rem;
  color: black;
  margin: 0;
  line-height: 1.6;
  /* background-image: url(../images/paysage\ afrique.jpg); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    line-height: 1;
}
a {
    text-decoration: none;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid_item {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1rem;
}
.container {
    padding: 1rem 2rem;
}
@media screen and (min-width: 750px) {
  .container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem;
    /* border: 1px solid red; */
    
  }  
  .grid_item {
    max-width: 50%;
  }
}

section {
    padding: 5.5rem 0;
}
.section-title {
    text-transform: uppercase;
    font-size: 3.8rem;
 
}
@media screen and (min-width:750px) {
   .section-header {
   text-align: center;
   } 
}



/******************************************** partie header ********************************************/
.header {
    
    width: 100%;
    border: 1px solid #555555;
    background: rgb(130, 135, 238);
    color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    /* display: flex; */
    justify-content: space-between;
}
.header li {
display: inline-flex;
align-items: center;
gap: 1px;
}

.header .logo {

    width: 70px;
    height: 70px;
   
}
.navbar li {
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
.socials-right {
    display: flex;
}

.socials-right li {
   
    padding: 0.5rem;
    align-items: center;
    
}
.menu li {
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}
.header a {
    text-decoration: none;
    color: #000;
}
.header a:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: red;
}
.socials {
    display: flex;
}



/* media queries partie header  */
@media screen and (max-width:749px){
    .header .logo {
        width: 50%;
        height: 50px;
    }
   .navbar {
    display: flex;
   }
   .socials-right {
   margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    overflow: hidden;
    opacity: 0;
    width: 0;
    /* height: calc(100vh - 55px); */
    background: #f5f5f5;
    transition: all 0.4s ease-out;
}
nav .menu li {
    display: flex;
    justify-content: center;
  }
  nav.menu a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    transition: all 0.4s;
  }
  .show-nav nav {
    /* opacity: 1; */
    width: 70%;
    left: 0;
    z-index: 2;
  }
  .bars {
    background: rgb(130, 135, 238);
    all: unset;
  }
}

@media screen and (min-width:750px){
   .socials .bars {
        display: none;
    }
  
}


/*********************************************** partie hero ***********************************************/

.hero {
    background: #f5f5f5;
    /* background: rgb(130, 135, 238); */
    
    padding: 1rem 0 0 0;
}
.hero_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .avatar {
    width: 100%;
    height: 400px;
    border-radius: 50%;
}

.hero .left {
    background-image: url(../images/african-g3c822bd17_1920.jpg);
  width: 100%;
  height: 450px;  
 
}
.hero .right {
    background: #1092ef;
    width: 100%;
    height: 450px;  
}






/* media queries partie hero */
@media screen and (max-width:749px){
    .hero .avatar {
        width: 85%;
        height: 350px;
    }
   
}



@media screen and (min-width:750px){
   .hero_item {
    flex: 1 0 50%;
   } 
   .hero .avatar {
    width: 85%;
    height: 350px;
}
  
}

/******************************************* media queries partie about  *************************************/
.about {
    background: rgb(130, 135, 238);
    /* background-image: url(../images/paysage\ afrique.jpg); */
    
    color: black;
}
.about .center {
    /* background: blue; */
    border-radius: 50%;
    
}
.about .grid{
     display: flex;
     justify-content: space-between;

}
.about .me {
    width: 100%;
    border-radius: 50%;
}
.about .africa {
    width: 100%;
    border-radius: 50%;
}
.about-me {
    font-size: 2rem;
}

/* media queries partie about  */
@media screen and (max-width:749px){
    .about .grid_item {
        max-width: 90%;
    }
}

@media screen and (min-width:750px){
    
    .about .grid_item {
        max-width: 25%;
        padding: 1rem;
    }
}

/* partie services */
.services {
    background: #dcd2d2;
    color: #000;
}
.service_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px solid rgb(130, 135, 238) ;
    border-radius: 50%;
    
}
.services {
    flex: 1;
}

.service_icon svg {
    height: 35px;
}
.services h3 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}



/* media queries partie services  */
@media screen and (max-width:749px){
  .services {
    text-align: center;
  }
  .service_icon {
   margin: 0 auto;
  }
}

@media screen and (min-width:750px){
    
    
    .services {
        display: flex;
        align-items: center;
    }
    .service_icon {
        margin: 2rem;
        margin-bottom: 5rem;
    }
}


/**************************************** partie products *************************************************************/
.products {
    background: rgb(130, 135, 238);
}

.card_image{
    width: 300px;
    height: 300px;
}


/* media queries partie product  */
@media screen and (max-width:749px){
    .products .grid_item {
        max-width: 90%;
    }
    .products {
        text-align: center;
    }
}

@media screen and (min-width:750px){
    
    .products .grid_item {
        max-width: 25%;
        padding: 1rem;
    }
}


/* partie contact */
.contact {
    background: #f5f5f5;
    text-align: center;
}


/* media queries partie contact  */
@media screen and (max-width:749px){
    .contact button {
        all: unset;
     } 

}

@media screen and (min-width:750px){
    
     .contact .mail {
        text-align: center;
     }   
     .contact button {
        all: unset;
     }
    
}

/********************************************** partie footer  *************************************************************/
footer {
    
    background: #5b6c78;
    text-align: center;
    justify-content: space-between;
 
}

footer .grid {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

footer .logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
footer .f-socials {
    padding: 2rem;
    display: inline-flex;
 margin: 0 auto;
}
footer li {
    list-style-type: none;
    padding: 0.5rem;
}
footer .copy {
   margin: 0 auto;
}



/* media queries footer  */
@media screen and (max-width:749px){
  
}


@media screen and (min-width:750px){
    
    footer .grid_item {
        max-width: 30%;
    }
}